/*  your css code here. If applicable */
.center-box {
  background-color: lightblue;
  border: 2px solid black;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}